.container-fluid{
    background-color: black;
}
.p{
    color: white  !important;
}
.yellow{
    color: yellow;
}
.descript{
    font-size: 13px;
}
.iconsizee{
    height:45px;
    width: 45px;
}
.btnsubscribe{
    padding: 2px 7px !important;
    border-radius: 100px !important;
}
.nav-link :hover{
    border-left: 1px solid yellow;
    border-bottom: 4px solid yellow;
    padding: 6px;
    margin: 3px;
    border-width: 5px;
}
.nav-link :active{
    border-left: 1px solid yellow;
    border-bottom: 4px solid yellow;
    padding: 6px;
    margin: 3px;
    border-width: 5px;
}
.img-fluid1{
    height: 40px;
    width: 40px;
}
.img-fluid121{
    height: 80px;
    width:80px;
}
.nav-pills .nav-link{
    color:white;
}
.nav-pills .nav-link.active{
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #ff2400 , black);
}
.btnsignup{
    background:#ff2400  !important ;
    border-radius: 40px;
    font-size: 13px;
}
.btnsignup1{
    background:#6538b6 !important ;
    border-radius: 40px;
    font-size: 13px;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: white !important;
    background-color:#495057  !important;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 1.25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media only screen and (max-width: 425px) {
    .row {
        display: flex;
        flex-wrap: wrap;
        margin-right: 0px;
        margin-left: 0px;
    }
  }
  .btn-primary {
   
    border-color: transparent  !important;
}
